# genre ========================================================
tag_list:
    path: /tags
    defaults:
        _controller: ShareBundle:Tag:list

tag_books:
    path: /tag/{slug}
    defaults:
        _controller: ShareBundle:Tag:tagBook
    requirements:
        slug: "([a-zA-Z\\-0-9\\_]+)?"

stone_list:
    path: /stones
    defaults:
        _controller: ShareBundle:Stone:list

zodiac_stone_list:
    path: /zodiac/{slug}
    defaults:
        _controller: ShareBundle:Zodiac:list