/.idea/
/.web-server-pid
/app/config/parameters.yml
/app/Resources/node/node_modules/
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
/web/files/
/web/images/
/web/public/
/web/feeds/*
phpunit.xml.dist
