<div class="side-item">
    <div class="side-title icon-left"><i class="fa fa-tags"></i>Теги</div>
    <div class="side-cont clearfix">
        <ul class="tags">
            <li><a href="">Привет</a></li>
            <li><a href="">Кондра</a></li>
            <li><a href="">Словель</a></li>
            <li><a href="">Анаконрде</a></li>
            <li><a href="">Slice proter</a></li>
            <li><a href="">Twitter</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Dwar</a></li>
            <li><a href="">LinkedIn</a></li>
            <li><a href="">Google</a></li>
        </ul>
    </div>
</div>