<div class="catalog-flex">
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-1.jpg" alt=""></a>
        <div class="name"><a href="">Аква 25 роз</a></div>
        <div class="price"><span>60 USD</span></div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-2.jpg" alt=""></a>
        <div class="name"><a href="">Букет "Лион"</a></div>
        <div class="price"><span>60 USD</span></div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-3.jpg" alt=""></a>
        <div class="name"><a href="">Ред Наоми 25 роз</a></div>
        <div class="price"><span>60 USD</span></div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-4.jpg" alt=""></a>
        <div class="name"><a href="">Корзина "Вечная Любовь"</a></div>
        <div class="price">
            <span class="old-price">60 USD</span>
            <span>50 USD</span>
        </div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-1.jpg" alt=""></a>
        <div class="name"><a href="">Аква 25 роз</a></div>
        <div class="price"><span>60 USD</span></div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-2.jpg" alt=""></a>
        <div class="name"><a href="">Букет "Лион"</a></div>
        <div class="price"><span>60 USD</span></div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-3.jpg" alt=""></a>
        <div class="name"><a href="">Ред Наоми 25 роз</a></div>
        <div class="price"><span>60 USD</span></div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-4.jpg" alt=""></a>
        <div class="name"><a href="">Корзина "Вечная Любовь"</a></div>
        <div class="price">
            <span class="old-price">60 USD</span>
            <span>50 USD</span>
        </div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-1.jpg" alt=""></a>
        <div class="name"><a href="">Аква 25 роз</a></div>
        <div class="price"><span>60 USD</span></div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-2.jpg" alt=""></a>
        <div class="name"><a href="">Букет "Лион"</a></div>
        <div class="price"><span>60 USD</span></div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-3.jpg" alt=""></a>
        <div class="name"><a href="">Ред Наоми 25 роз</a></div>
        <div class="price"><span>60 USD</span></div>
        <a href="" class="button">Купить</a>
    </div>
    <div class="catalog-block">
        <a href="" class="image"><img src="images/product-4.jpg" alt=""></a>
        <div class="name"><a href="">Корзина "Вечная Любовь"</a></div>
        <div class="price">
            <span class="old-price">60 USD</span>
            <span>50 USD</span>
        </div>
        <a href="" class="button">Купить</a>
    </div>
</div>

<div class="more-catalog">
    <a href="" class="more-catalog-link"> <!-- loading - класс для вращения стрелки -->
        <i><img src="images/rotate.svg" alt="" /></i>
        <span>Загрузить еще 16 товаров</span>
    </a>
</div>
<!--Пагинация-->
<ul class="pagination">
    <li><a href=""><i class="arrow prev"></i></a></li>
    <li><a href="">1</a></li>
    <li class="active"><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li class="next"><a href=""><i class="arrow next"></i></a></li>
</ul>
<!--//Пагинация-->