<div class="col-cont">
    <div class="container">
        <button class="order-add"><i class="fa fa-plus" aria-hidden="true"></i> Добавить заказ</button>
        <h2>Стол заказов</h2>

        {{
        sonata_block_render(
            { 'type': 'order.block.add_order_board' }
        )
        }}

        <div class="order-description">
            Если на сайте нет книги, которую Вы хотите прочитать - нажмите кнопку "Добавить заказ" и
            мы постараемся ее добавить.
            </br>
            <p style="padding: 2px 0;"><b style="color:#BC8F8F">Внимание!</b> Если книга, которую Вы
                хотите уже добавлена в список ниже, Вы можете поддержать эту книгу своим голосом.
            </p>

        </div>

        {{
        sonata_block_render(
            { 'type': 'order.block.order_board_list' },
            {
                'items_count' : 30,
                'page': app.request.get('page') ? app.request.get('page') : 1,
                'status' : app.request.get('status', null),
            }
        )
        }}

    </div>

</div>