<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('movedown', object) }}" title="{{ 'action_move_down'| trans( {}, 'SonataAdminBundle') }}">
    <i class="fa-angle-down fa " aria-hidden="true"></i>
    {#{{ 'action_move_down'|trans({}, 'SonataAdminBundle') }}#}
</a>
