<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('moveup', object) }}" title="{{ 'action_move_up'| trans( {}, 'SonataAdminBundle') }}">
    <i class="fa-angle-up fa " aria-hidden="true"></i>
</a>
