<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('do_last', object) }}" title="{{ 'actions.btn.action_do_last'| trans( {}, 'SonataAdminBundle') }}">
    <i class="fa-angle-double-down fa " aria-hidden="true"></i>
</a>
