<td>
    <a class="select btn btn-primary selector" data-id="{{ object.id }}">
        <i class="glyphicon glyphicon-arrow-right"></i>
        {{ 'actions.btn.action_select'|trans({}, 'SonataAdminBundle') }}
    </a>
</td>