{% set url = null %}
{% set app_router = admin.configurationPool.container.get('router') %}
{% if object is instanceof('ShareBundle\\Entity\\Stone') %}
    {% set url = path('product_stone_list', { 'slug': object.slug })%}
{% elseif object is instanceof('ShareBundle\\Entity\\Colour') %}
    {% set url = path('product_colour_list', { 'slug': object.slug })%}
{% endif %}

{% if admin.isGranted('VIEW', object) and url %}
    <a href="{{ url }}" class="btn btn-sm btn-default" title="{{ 'actions.btn.preview'|trans({}, 'SonataAdminBundle') }}" target="_blank">
        <i class="glyphicon glyphicon-eye-open"></i>
        {{ 'actions.btn.on_site'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}