<section class="simple-section">
    <div class="container">

        {{
            sonata_block_render(
                { 'type': 'app.block.service.breadcrumb' }
            )
        }}

        {{
            sonata_block_render(
                { 'type': 'comment.block.list_comments' },
                {
                    'items_count': 20,
                    'page': app.request.get('page') ? app.request.get('page') : 1,
                    'list_type': constant('CommentBundle\\Block\\ListCommentBlockService::PAGE_LIST'),
                    'show_paginator': true
                }
            )
        }}

    </div>
</section>