<div class="col-cont">

    <div class="order-description" style="margin-top: 0">
        В комментарии указывайте название книги и автора.
        <br>
        <p style="padding: 2px 0;"><b style="color:#BC8F8F">Внимание!</b> Не более 3-х книг в одном сообщении.
        </p>
    </div>

    {{
    sonata_block_render(
        { 'type': 'comment.block.add_swap' }
    )
    }}

    {{
    sonata_block_render(
        { 'type': 'comment.block.list_swaps' },
        {
            'items_count' : 20,
            'page': app.request.get('page') ? app.request.get('page') : 1,
        }
    )
    }}

</div>