<div class="overlay" id="overlay">
    <div class="login-box" id="login-box">
        <div class="login-title">Авторизация</div>
        <div class="login-social clearfix">

        </div>
        <div class="login-form">
            <form method="post" id="form_login">
                <div class="login-input">
                    <input type="text" name="login" id="login_name" placeholder="Ваш логин"/>
                </div>
                <div class="login-input">
                    <input type="password" name="password" id="login_password" placeholder="Ваш пароль"/>
                </div>
                <div class="login-button">
                    <button id="login_to" type="submit" title="Вход">Войти на сайт</button>
                </div>
                <div class="login-checkbox">
                    <input type="checkbox" name="login_not_save" id="login_not_save" value="1"/>
                    <label for="login_not_save">&nbsp;Чужой компьютер</label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <div class="login-links clearfix">
                    <a href="#">Забыли пароль?</a>
                    <a href="#" class="log-register">Регистрация</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // function login() {
    //     $.ajax({
    //         type: "POST",
    //         url: '',
    //         dataType: 'json',
    //         data: {
    //             _username: $('input[name="login"]').val(),
    //             _password: $('input[name="password"]').val(),
    //             _remember_me: false,
    //             _csrf_token: $('input[name="_csrf_token"]').val()
    //         }
    //     }).done(function(data) {
    //         console.log(data);
    //     }).fail(function(data) {
    //         console.log(data);
    //     });
    // }


    {#$(document).ready(function () {#}

        {#$('#login_to').click(function (e) {#}
            {#e.preventDefault();#}
            {#$.ajax({#}
                {#type: "POST",#}
                {#url: '{{ path('fos_user_security_check') }}',#}
                {#data: {#}
                    {#_username: $('input[name="login"]').val(),#}
                    {#_password: $('input[name="password"]').val(),#}
                    {#_remember_me: false,#}
                    {#_csrf_token: $('input[name="_csrf_token"]').val()#}
                {#},#}
                {#success: function (data, status, object) {#}
                    {#if (data.success == false) {#}
                        {#console.log(data);#}
                    {#} else {#}
                        {#window.location.href = '/admin';#}
                    {#}#}
                {#}#}
            {#});#}

        {#});#}
    {#});#}


    $('#login_to').on('click', function (e) {
        e.preventDefault();

        $.ajax("{{ path('fos_user_security_check') }}", {
            cache: false,
            data: {
                _username: $('input[name="login"]').val(),
                _password: $('input[name="password"]').val(),
                _remember_me: false,
                _csrf_token: $('input[name="_csrf_token"]').val()
            },
            type: "POST",
            success: function (response) {
                if (response.success) {
                    alert("Login successfull");
                    // window.location.href = '/admin';
                    return;
                } else {
                    alert("Invalid login details\n");
                }

                alert(response.message);
            },
            error: function (response) {
                console.log(response);
                alert("Something went wrong. Try again...");
            }
        });
    });

</script>