<!--================= MODAL =========================-->

<!--Модалка быстрого заказа-->
<div id="quickModal" class="popup-modal mfp-hide mfp-with-anim">
    <div class="popup-content">
        <div class="popup-top no-border">
            <div class="modal-title"><span>Добавить к этому заказу подарок?</span></div>
        </div>
        <div class="modal-slider-outer">
            <div class="dop-items-slider modal-slider js-slick">
                <div class="dop-items-block">
                    <div class="name">Kinder Joy</div>
                    <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>
                    <div class="price">15 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Raffaello</div>
                    <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>
                    <div class="price">10 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Kinder Joy</div>
                    <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>
                    <div class="price">15 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Raffaello</div>
                    <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>
                    <div class="price">10 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Kinder Joy</div>
                    <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>
                    <div class="price">15 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Raffaello</div>
                    <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>
                    <div class="price">10 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="popup-modal-link">
            <a href="" class="button">Быстрый заказ</a>
        </div>
        <button class="mfp-close" type="button"><img src="images/cross.svg" alt=""></button>
    </div>
</div>

<!--Модалка в корзину-->
<div id="cartModal" class="popup-modal mfp-hide mfp-with-anim">
    <div class="popup-content">
        <div class="popup-top">
            <div class="modal-cart-block">
                <div class="cart-desc">
                    <div class="image"><img src="{{ asset('bundles/app/images/cart.svg') }}" alt=""></div>
                    <div class="inner">
                        <h5>
                            <span class="desctop-text">Товар был добавлен в корзину</span>
                            <span class="mobile-text">Добавлено в корзину</span>
                        </h5>
                        <div class="desc"><span>Сейчас в вашей корзине: </span>4 товара на сумму 2156622 USD</div>
                    </div>
                </div>
                <div class="cart-links">
                    <a href="" class="button">
                        <span class="desctop-text">Перейти к корзине</span>
                        <span class="mobile-text">К корзине</span>
                    </a>
                    <a href="" class="button white-button close-popup">
                        <span class="desctop-text">Продолжить покупки</span>
                        <span class="mobile-text">Выбрать ещё</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="popup-top no-border">
            <div class="modal-title"><span>С этим товаром покупают</span></div>
        </div>
        <div class="modal-slider-outer">
            <div class="dop-items-slider modal-slider js-slick">
                <div class="dop-items-block">
                    <div class="name">Kinder Joy</div>
                    <div class="image"><img src="{{ asset('bundles/app/images/product-dop-item-1.jpg') }}" alt=""></div>
                    <div class="price">15 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Raffaello</div>
                    <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>
                    <div class="price">10 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Kinder Joy</div>
                    <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>
                    <div class="price">15 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Raffaello</div>
                    <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>
                    <div class="price">10 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Kinder Joy</div>
                    <div class="image"><img src="images/product-dop-item-1.jpg" alt=""></div>
                    <div class="price">15 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
                <div class="dop-items-block">
                    <div class="name">Raffaello</div>
                    <div class="image"><img src="images/product-dop-item-2.jpg" alt=""></div>
                    <div class="price">10 USD</div>
                    <a href="" class="add-item">
                        <img src="images/check.svg" alt="">
                        <span>Добавить</span>
                    </a>
                </div>
            </div>
        </div>
        <button class="mfp-close" type="button"><img src="images/cross.svg" alt=""></button>
    </div>
</div>