{% set block_ajax_path = block.page is defined ? sonata_page_ajax_url(block) : block_ajax_url(block) %}
<form method="post" data-ajax-url="{{ block_ajax_path }}" id="add-comment">
    <div id="addcform">
        <div class="add-com-form">
            <div class="add-com-textarea">
                <div class="add-comm">
                    <div class="side-title">Прокомментировать <i class="fa fa-angle-down"></i></div>
                    <div class="ac-inputs">
                        <input type="text" maxlength="35" name="name" placeholder="Ваше имя"/>
                        <input type="text" maxlength="35" name="mail" placeholder="Ваш e-mail (необязательно)"/>
                    </div>

                    <div class="ac-textarea">
                        <div class="wseditor" id="content-editor">
{#                            <textarea name="comment" rows="7" cols="50"></textarea>#}
                        </div>
                    </div>

                    <div class="ac-protect">

                    </div>

                    <input type="hidden" name="book" value="{{ book.id }}">
                    <div class="ac-submit">
                        <button name="submit" class="fbutton" type="submit">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>