{% import "CommentBundle:Block/macros:item.html.twig" as item %}

<div class="title-comments">
    <h4>{{ 'frontend.homepage.comments'|trans([], 'AppBundle') }}</h4>
</div>
<div class="list-comments">
    {% for comment in comments %}
        {{ item.comment(comment, settings.show_title) }}
    {% endfor %}
</div>

<div class="more-comments">
    <a href="{{ path('review_list') }}" class="btn-more-comments">Ще відгуки</a>
</div>