{% import "CommentBundle:Block/macros:item.html.twig" as item %}

<div class="title-comments">
    <h4>{{ 'frontend.homepage.comments'|trans([], 'AppBundle') }}</h4>
</div>
<div class="list-comments">
    {% for comment in comments %}
        {{ item.comment(comment, settings.show_title) }}
    {% endfor %}
</div>

{% if settings.show_paginator and comments.getNbPages() > 1 %}
    {{ pagerfanta(comments, { 'omitFirstPage': true}) }}
{% endif %}