
<!-- catalog-section -->
<section class="simple-section">
    <div class="container">

        {{
            sonata_block_render(
                { 'type': 'app.block.service.breadcrumb' }
            )
        }}

        {{
            sonata_block_render(
                { 'type': 'product.block.list' },
                {
                    'items_count' : 20,
                    'page': app.request.get('page') ? app.request.get('page') : 1,
                    'filter': true,
                    'title': category.name,
                    'category': category
                }
            )
        }}
    </div>
</section>

<section class="section">
    <div class="container">
        {{
            sonata_block_render(
                { 'type': 'share.block.zodiac' },
                {
                    'title' : 'Камни по знаку зодиака',
                }
            )
        }}
    </div>
</section>