
<!-- catalog-section -->
<section class="simple-section">
    <div class="container">

        {{
            sonata_block_render(
                { 'type': 'app.block.service.breadcrumb' }
            )
        }}

        <div class="filter-outer">
            <h1>Классические букеты</h1>
            <form action="" method="post" class="filter-form">
                <div class="filter-content">
                    <div class="filter-content-inner">
                        <div class="title">Фильтры</div>

                        <div class="filter-block">
                            <div class="filter-toggle"><span>Цвет</span><i></i></div>
                            <div class="filter-podmenu">
                                <ul class="filter-podmenu-choose">
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #fff; box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.08);"></small>
                                                        Белый
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #FFF500;"></small>
                                                        Желтый
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #24C12B;"></small>
                                                        Зеленый
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #DD6B2B;"></small>
                                                        Коралловый
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #FF0000;"></small>
                                                        Красный
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #F8E6CB;"></small>
                                                        Кремовый
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #FF6B00;"></small>
                                                        Оранжевый
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #EA6A61;"></small>
                                                        Персиковый
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #FA94DD;"></small>
                                                        Розовый
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #0085FF;"></small>
                                                        Синий
                                                    </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="color-check">
                                            <i></i>
                                            <span>
                                                        <small class="color" style="background: #7000FF;"></small>
                                                        Сиреневый
                                                    </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="filter-block">
                            <div class="filter-toggle"><span>Состав</span><i></i></div>
                            <div class="filter-podmenu">
                                <ul class="filter-podmenu-choose">
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="type-check">
                                            <i></i>
                                            <span>Розы</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="type-check">
                                            <i></i>
                                            <span>Тюльпаны</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="type-check">
                                            <i></i>
                                            <span>Пионы</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="type-check">
                                            <i></i>
                                            <span>Ромашки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="type-check">
                                            <i></i>
                                            <span>Розы</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="type-check">
                                            <i></i>
                                            <span>Тюльпаны</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="type-check">
                                            <i></i>
                                            <span>Пионы</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="filter-checkbox">
                                            <input type="checkbox" name="type-check">
                                            <i></i>
                                            <span>Ромашки</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="filter-block">
                            <div class="filter-toggle"><span>Цена</span><i></i></div>
                            <div class="filter-podmenu with-diapazon">
                                <div class="range-slider-content">
                                    <div class="extra-controls">
                                                <span class="value-block">
                                                    <input type="text" class="js-input-from" value="0" />
                                                </span>
                                        <span class="divider">-</span>
                                        <span class="value-block">
                                                     <input type="text" class="js-input-to" value="0" />
                                                </span>
                                        <span class="valuta">USD</span>
                                    </div>
                                    <div class="range-slider">
                                        <input type="text" class="js-range-slider" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="catalog-filter-close">
                            <img src="images/cross.svg" alt="">
                        </div>
                    </div>
                    <div class="filter-overlay"></div>
                </div>

                <div class="filter-open">Фильтры <i>+</i></div>

                <div class="filter-block select-block">
                    <select class="sort-select" data-placeholder="Сортировка">
                        <option></option>
                        <option value="1">По умолчанию</option>
                        <option value="2">По возрастанию цены</option>
                        <option value="3">По убыванию цены</option>
                    </select>
                </div>

            </form>
        </div>

        <div class="catalog-flex">
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-1.jpg" alt=""></a>
                <div class="name"><a href="">Аква 25 роз</a></div>
                <div class="price"><span>60 USD</span></div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-2.jpg" alt=""></a>
                <div class="name"><a href="">Букет "Лион"</a></div>
                <div class="price"><span>60 USD</span></div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-3.jpg" alt=""></a>
                <div class="name"><a href="">Ред Наоми 25 роз</a></div>
                <div class="price"><span>60 USD</span></div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-4.jpg" alt=""></a>
                <div class="name"><a href="">Корзина "Вечная Любовь"</a></div>
                <div class="price">
                    <span class="old-price">60 USD</span>
                    <span>50 USD</span>
                </div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-1.jpg" alt=""></a>
                <div class="name"><a href="">Аква 25 роз</a></div>
                <div class="price"><span>60 USD</span></div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-2.jpg" alt=""></a>
                <div class="name"><a href="">Букет "Лион"</a></div>
                <div class="price"><span>60 USD</span></div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-3.jpg" alt=""></a>
                <div class="name"><a href="">Ред Наоми 25 роз</a></div>
                <div class="price"><span>60 USD</span></div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-4.jpg" alt=""></a>
                <div class="name"><a href="">Корзина "Вечная Любовь"</a></div>
                <div class="price">
                    <span class="old-price">60 USD</span>
                    <span>50 USD</span>
                </div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-1.jpg" alt=""></a>
                <div class="name"><a href="">Аква 25 роз</a></div>
                <div class="price"><span>60 USD</span></div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-2.jpg" alt=""></a>
                <div class="name"><a href="">Букет "Лион"</a></div>
                <div class="price"><span>60 USD</span></div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-3.jpg" alt=""></a>
                <div class="name"><a href="">Ред Наоми 25 роз</a></div>
                <div class="price"><span>60 USD</span></div>
                <a href="" class="button">Купить</a>
            </div>
            <div class="catalog-block">
                <a href="" class="image"><img src="images/product-4.jpg" alt=""></a>
                <div class="name"><a href="">Корзина "Вечная Любовь"</a></div>
                <div class="price">
                    <span class="old-price">60 USD</span>
                    <span>50 USD</span>
                </div>
                <a href="" class="button">Купить</a>
            </div>
        </div>

        <div class="more-catalog">
            <a href="" class="more-catalog-link loading"> <!-- loading - класс для вращения стрелки -->
                <i><img src="images/rotate.svg" alt="" /></i>
                <span>Загрузить еще 16 товаров</span>
            </a>
        </div>
        <!--Пагинация-->
        <ul class="pagination">
            <li><a href=""><i class="arrow prev"></i></a></li>
            <li><a href="">1</a></li>
            <li class="active"><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li class="next"><a href=""><i class="arrow next"></i></a></li>
        </ul>
        <!--//Пагинация-->
    </div>
</section>