services:
    sonata.admin.product:
        class: ProductBundle\Admin\ProductAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, group: "group.product", label: "group.product_editor" }
        arguments:
          - ~
          - ProductBundle\Entity\Product
          - ProductBundle:ProductAdmin
        calls:
          - [ setTranslationDomain, [ProductBundle] ]
          - [ setTemplate, ['edit', 'ProductBundle:Admin:edit.html.twig'] ]
          - [ setEntityManager, ['@app.entity_manager'] ]

    sonata.admin.product_has_image:
        class: ProductBundle\Admin\ProductHasImageAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: 'group.product', label: "group.product_has_image_editor", show_in_dashboard: false }
        arguments:
            - ~
            - ProductBundle\Entity\ProductHasImage
            - ~
        calls:
            - [ setTranslationDomain, [ ProductBundle ] ]

    sonata.admin.product_category:
        class: ProductBundle\Admin\CategoryAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "group.product", label: "group.category_editor" }
        arguments:
            - ~
            - ProductBundle\Entity\Category
            - ProductBundle:ProductAdmin
        calls:
            - [ setTranslationDomain, [ ProductBundle ] ]

    sonata.admin.product_info_view:
        class: ProductBundle\Admin\ProductInfoViewAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: 'group.product', label: "group.product_info_view_editor" }
        arguments:
            - ~
            - ProductBundle\Entity\ProductInfoView
            - ~
        calls:
            - [ setTranslationDomain, [ ProductBundle ] ]

    sonata.admin.product_search_history:
        class: ProductBundle\Admin\ProductSearchHistoryAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: 'group.product', label: "group.product_search_history_editor" }
        arguments:
            - ~
            - ProductBundle\Entity\ProductSearchHistory
            - ~
        calls:
            - [ setTranslationDomain, [ ProductBundle ] ]
