services:
    product.block.list:
        class: ProductBundle\Block\ListProductBlockService
        arguments:
          - product.block.list
          - '@templating'
          - '@?doctrine'
          - '@request_stack'
        tags:
          - { name: sonata.block }

    product.block.popular:
        class: ProductBundle\Block\PopularProductsBlockService
        arguments:
            - product.block.popular
            - '@templating'
            - '@?doctrine'
        tags:
            - { name: sonata.block }

    product.block.viewed:
        class: ProductBundle\Block\ListViewedProductBlockService
        arguments:
            - product.block.viewed
            - '@templating'
            - '@?doctrine'
            - '@request_stack'
        tags:
            - { name: sonata.block }