# Main page ============================================
cart:
  path: /cart
  defaults:
    _controller: AppBundle:Default:cart

step-1:
  path: /cart/step-1
  defaults:
    _controller: AppBundle:Default:cartStepOne

step-2:
  path: /cart/step-2
  defaults:
    _controller: AppBundle:Default:cartStepTwo

search:
  path: /search
  defaults:
    _controller: AppBundle:Default:search

block__ajax:
  path: /_block/ajax/{blockType}/{blockId}
  defaults:
    _controller: AppBundle:Block:ajax
  methods: [GET, POST]
  requirements:
    blockType: .+
    blockId: .+