<div class="col-cont">
    <div class="container">

        {{
        sonata_block_render(
            { 'type': 'share.block.author_list' },
            {
                'items_count' : 30,
                'page': app.request.get('page') ? app.request.get('page') : 1,
                'search' : app.request.get('search'),
                'letter' : app.request.get('letter')
            }
        )
        }}

    </div>
</div>
