
<!-- catalog-section -->
<section class="simple-section">
    <div class="container">

        {{
            sonata_block_render(
                { 'type': 'app.block.service.breadcrumb' }
            )
        }}

        {{
            sonata_block_render(
                { 'type': 'share.block.stones' }
            )
        }}
    </div>
</section>