
<!-- catalog-section -->
<section class="simple-section">
    <div class="container">

        {{
            sonata_block_render(
                { 'type': 'app.block.service.breadcrumb' }
            )
        }}

        {{
        sonata_block_render(
            { 'type': 'share.block.zodiac' },
            {
                'title' : 'frontend.stone_zodiac'|trans([], 'ShareBundle') ~ ' ' ~ zodiac.name,
                'mobile_select': true
            }
        )
        }}

        {{
            sonata_block_render(
                { 'type': 'share.block.stones' },
                {
                    'zodiac': zodiac
                }
            )
        }}
    </div>
</section>