quick_order:
    path: /quick-order
    defaults:
        _controller: OrderBundle:Order:quickOrder

product_quick_order:
    path: /product-quick-order
    defaults:
        _controller: OrderBundle:Order:productQuickOrder

full_order:
    path: /order
    defaults:
        _controller: OrderBundle:Order:order

success_order:
    path: /order/{secret}/success
    defaults:
        _controller: OrderBundle:Order:success
    requirements:
        hash: "([a-zA-Z\\-0-9\\_]+)?"