<h1>Жанры</h1>
<hr class="line">

<div class="genres-list">
    {{
    sonata_block_render(
        { 'type': 'genre.block.genre_list' },
        { 'list_type' : constant('GenreBundle\\Block\\ListGenreBlockService::LIST_GENRES') }
    )
    }}
</div>
