{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if value is not empty %}
        <a target="_blank" href="{{ value }}" title="{{ value }}">{{ 'list_answer_link'|trans({}, 'QuizBundle') }}</a>
    {% endif %}
{% endblock %}