<div class="side-item">
    <div class="side-title icon-left"><i class="fa fa-bookmark-o"></i> Топ месяца</div>
    <div class="side-cont">
        {% for bookInfo in books %}
            <a class="side-book" href="{{ path('book_view', { 'slug': bookInfo.book.slug, 'id': bookInfo.book.id }) }}">
                <div class="side-book-img img-box">
                    <img class="lazyload" data-src="{{ asset(bookInfo.book.poster.path) }}"
                         alt="{{ bookInfo.book.name }}"/>
                </div>
                <div class="side-book-title">{{ bookInfo.book.name }}</div>
            </a>
        {% endfor %}
    </div>
</div>